language: python
python: 2.7

sudo: required
dist: trusty

cache:
  pip: true
env:
  global:
    - >
      STATUS=$'curl -so/dev/null --user "$EMBARC_BOT" --request POST
      https://api.github.com/repos/$TRAVIS_REPO_SLUG/statuses/${TRAVIS_PULL_REQUEST_SHA:-$TRAVIS_COMMIT}
      --data @- << DATA\n{
      "state": "$0",
      "description": "$1",
      "context": "travis-ci/$NAME",
      "target_url": "https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
      }\nDATA'


branches:
  except:
    - gh-pages

before_install:
  - bash .travis/before_install.sh
  # setup git config
  - git config --global user.name "${U_NAME}"
  - git config --global user.email "${U_EMAIL}"

after_success:
  - bash -c "$STATUS" success "Local $NAME testing has passed"

after_failure:
  - bash -c "$STATUS" failure "Local $NAME testing has failed"

script:
  - bash .travis/script.sh
  
matrix:
  include:
    - env: NAME="doc" TOOLCHAIN="sphinx" OSP_ROOT="none" GNU_VER="none"
      os: linux
      compiler: gcc
